@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Founders Grotesk';
      src: url(../public/font/FoundersGrotesk-Semibold.ttf) ;
    }
    @font-face {
      font-family: 'Neue Montreal';
      src: url(../public/font/NeueMontreal-Regular.ttf) ;
    }
  }
